body{
  background-color: #202124;
  color: #e8eaed;
  font-family: 'Roboto', sans-serif;
}

.app {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  gap: 30px;
}

.column {
  border: 1px solid #5f6368;
  border-radius: 12px;
  padding: 20px;
  width: 30%;
}

.card {
  background-color: #5f6368;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.buttons, .buttons button, .controls, .controls button{
  display: flex;
  width: 100%;
  justify-content: center;
}
.controls, .controls button {
  display: flex;
  width: 100%;
}