body,
a {
  background-color: #202124;
  color: #e8eaed;
  font-family: 'Roboto', sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  gap: 30px;
}

.credits {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.credits a.repo {
  background: radial-gradient(circle at 100%,
      #67e1ff,
      #37aeda 30%,
      #2e59b1 65%,
      #ffffff 95%);
  font-weight: 600;
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animatedTextGradient 1.5s linear infinite;
}

.back-button {
  background-color: #202124;
  color: #fff;
  font-weight: 700;
  border-radius: 12px;
  font-size: 18px;
  padding: 8px 12px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #e0e0e0;
  color: #202124;
  transition: all .2s ease-in-out;
}

@keyframes animatedTextGradient {
  to {
    background-position: 200% center;
  }
}

.column {
  border: 1px solid #5f6368;
  border-radius: 12px;
  padding: 20px;
  width: 30%;
}

.card {
  background-color: #5f6368;
  padding: 15px;
  gap: 10px;
  margin: 5px 0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.card-content {
  background-color: #767b82;
  padding: 1em .2em;
  border-radius: 4px;
}

.buttons,
.buttons button,
.controls,
.controls button {
  display: flex;
  width: 100%;
  justify-content: center;
}

.buttons {
  gap: 2px;
}

.buttons button {
  border-radius: 4px;
  border: none;
  padding: 5px;
}

.controls {
  gap: 3px;
}

.controls:has(> .add_card) {
  width: 100%;
  flex-direction: column;
}

.controls button {
  border: none;
  border-radius: 10px;
  padding: 8px;
  font-weight: 700;
  align-items: center;
}

.reveal,
.delete {
  align-items: center;
}

span {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.add:hover {
  background-color: green;
  transition: all 0.2s ease-out;
  color: #e8eaed;
}

.add svg,
.delete svg,
.reveal svg {
  stroke: #000;
}

.add:hover svg,
.delete:hover svg {
  stroke: #e8eaed;
  transition: all 0.2s ease-out;
}

.reveal:hover {
  background-color: yellow;
  transition: all 0.2s ease-out;
}

.delete:hover {
  background-color: rgb(255, 0, 0);
  transition: all 0.2s ease-out;
  color: #e8eaed;
}

.like-dislike {
  display: flex;
  width: 120px;
}

.like-dislike button {
  border: none;
  border-radius: 8px;
  background-color: transparent;
  color: #e8eaed;
  display: flex;
  gap: 2px;
  align-items: center;
}

.like-dislike button:hover {
  border: none;
  border-radius: 8px;
  background-color: #e8eaed;
  color: #202124;
}

.like-dislike button:hover svg{
  fill: #000;
}

.board-selection {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 500px;
}

.board-selection input {
  height: 36px;
  font-size: 18px;
  text-align: center;
  color: #757575;
  background-color: #fff;
}
.board-selection input.name {
  background-image: url("../public/man.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: 137px;
}

.board-selection button {
  height: 30px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 18px;
  background-color: #5f6368;
  color: #fff;
}

.board-selection button:hover {
  background-color: #fff;
  color: #202124;
  transition: all .2s ease-in-out;
}

.add_card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

textarea {
  width: 99%;
  height: 100px;
  color: #757575;
  background-color: #fff;
}

.logo {
  margin: 4em 0 2em;
}

img {
  width: 150px;
}

.error-message {
  color: rgba(255, 255, 0, 0.933);
  margin: .2em 0;
}

.interation-at-cards {
  display: flex;
  flex-direction: row-reverse;
}
.errors{
  display: flex;
  flex-direction: column;
  gap: 0;
}

@media (max-width: 768px) {
  .app-wrapper {
    width: 100%;
    overflow: auto;
  }

  .column {
    width: 70vw;
  }

  .board-selection {
    width: 275px;
  }

  .board-selection input.name {
    background-position-x: 20px;
  }
}